{include file=$theme.search}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{if isset($name)}{$name}{/if} <a target="_blank" href="?{$smarty.server.QUERY_STRING|replace:"do":"ajax"}&print=true" class="pull-right glyphicon glyphicon-print"></a></h2>
  </div>
  
  
<table class="table table-bordered table-condensed">
{if $data}
<thead>
<tr>

<th class="active center">STT</th>
<th class="active">

Số sim


</th>
<th class="active sortprice">Giá tiền <span class="glyphicon"> <a class="pricetoogle" href="javascript://">
{if !isset($smarty.session.toggleprice)}
<span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span>
{else if $smarty.session.toggleprice=='ASC'}
<span class="glyphicon glyphicon-arrow-up red"></span>
{else}
<span class="glyphicon glyphicon-arrow-down red"></span>
{/if}

</a>


</span></th>
<th class=" hidden active text-center">Tổng</th>
<th class="active text-center">Mạng di dộng</th>

<th class="active text-center">Đặt mua</th>
<th class="active  hidden text-center text-center">Giỏ</th>

</tr>
</thead>
{/if}
{if $data}
{include file='table_body.htm'}
{else}
 Mời bạn kham khảo số gần giống còn trong kho</strong>
  
  <div id="simlienquan"></div>
<script>

window.addEventListener('DOMContentLoaded', function() {

  var load="";
load += "<div id=\"fountainTextG\"><div id=\"fountainTextG_1\" class=\"fountainTextG\">L<\/div><div id=\"fountainTextG_2\" class=\"fountainTextG\">o<\/div><div id=\"fountainTextG_3\" class=\"fountainTextG\">a<\/div><div id=\"fountainTextG_4\" class=\"fountainTextG\">d<\/div><div id=\"fountainTextG_5\" class=\"fountainTextG\">i<\/div><div id=\"fountainTextG_6\" class=\"fountainTextG\">n<\/div><div id=\"fountainTextG_7\" class=\"fountainTextG\">g<\/div><\/div>";

$("#simlienquan").html(load);

$.get('/index.php?ajax=ordered.loadmore&sosim={$smarty.get.sim}').done(function(html){

                                  $("#simlienquan").html(html);
})

});
                                  
</script>
<style>
#lienquan
{
    padding: 0;
}
#lienquan li

{
    width: 50%;
    float: left;
    list-style: none;
    border: 1px solid #cccccc;
    padding: 5px;
    border-bottom: 0px;
}
#lienquan li .sim
{
  font-size: 16px;
  margin-left: 15px;

}
.form-group-sm
{
  display: none;
}
#fountainTextG{
  width:234px;
  margin:auto;
}

.fountainTextG{
  color:rgb(0,0,0);
  font-family:Arial;
  font-size:24px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  animation-name:bounce_fountainTextG;
    -o-animation-name:bounce_fountainTextG;
    -ms-animation-name:bounce_fountainTextG;
    -webkit-animation-name:bounce_fountainTextG;
    -moz-animation-name:bounce_fountainTextG;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.5);
    -o-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
}#fountainTextG_1{
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}
#fountainTextG_2{
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#fountainTextG_3{
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#fountainTextG_4{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#fountainTextG_5{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#fountainTextG_6{
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
#fountainTextG_7{
  animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}




@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(255,255,255);
  }
}
</style>


{/if}
<tfoot>
<tr>
<td colspan="8" class="text-right">

<ul class="pagination pagination-sm">

{if isset($ps)}
{$ps}
{/if}
{if $data|count == 50}


<li>
<a class="paginate" href="{$linkx}">Tiếp theo</a>
</li>
{else}

{if isset($link2)}

    <li>
<a class="paginate" href="{$link2}">Quay lại</a>
</li>
{/if}



{/if}

</ul>
</td>
</tr>
</tfoot>
</table>

</div>